.carousel {
    position: relative;
    overflow: hidden;
    border-radius: 25px;  
    .carousel-images {
      overflow: hidden;
      height: 415px;
      transition: transform 0.5s ease;
      .slide {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        transition: opacity 0.5s ease;
      }
    }
  
    .controls {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      .prev{
        margin-left: 2%;
      }
      .next{
        margin-right: 2%;
      }
    }
  
    .pagination {
      position: absolute;
      bottom: 24px;
      right: 48%;
      color: white;
    }
  }

  @media screen and (max-width: 720px){
    .carousel {  
      .carousel-images {
        height: 255px;
      }
      .controls {
        .prev{
          width: 12px;
          object-fit: contain;
        }
        .next{
          width: 12px;
          object-fit: contain;
        }
      }
      .pagination {
        display: none;
      }
    }
  }







