footer{
    padding: 50px 100px 40px;
    margin-top: auto;
    background-color: black;
    text-align: center;
    img{
        width: 122px;
        height: auto;
    }
    p{
        color: white;
        margin: 30px 0px 0px;
    }
}