nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 40px 100px;  
    div {
      img {
        width: auto;
        height: 68px;
      }
    }
    ul {
      list-style: none;
      display: flex;
      gap: 57px;
      margin: 0;
      padding: 0;
      li {
        a {
          text-decoration: none;
          color: black;
          font-size: 24px;
          transition: text-decoration 0.3s;
          &:hover,
          &.active{
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media screen and (max-width: 720px) {
    nav{
      margin: 4% 6%;
      div{
        img{
          height: 46px;
        }
      }
      ul{
        gap: 8vw;
        li{
          a{
            font-size: 3.2vw;
            text-transform: uppercase;
          }
        }
      }
    }
  }